<div class="form-group">
    <label for="star-name">Name</label>
    <textarea id="star-name" class="form-control" rows="1" placeholder={{model.name}} ng-model="model.name"></textarea>
</div>
<div class="form-group">
    <label for="star-text">Text</label>
    <textarea id="star-text" class="form-control" rows="5" placeholder={{model.text}} ng-model="model.text"></textarea>
</div>
<div class="form-group">
    <label for="star-size">Size</label>
    <input id="star-size" class="form-control" placeholder={{model.size}} ng-model="model.size">
</div>